@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');


@media screen and (max-width: 767px) {

    * .bottom-nav-mobile{
        font-family: 'Open Sans', sans-serif;
    }
    
    .bottom-nav-mobile{
        box-shadow:  0px 2px 15px rgba(0, 0, 0, 0.15);
        border-radius: 3px 3px 10px 10px;
        margin: 0px 5px 10px 5px;
        text-decoration: none;
        background-color: #fff;
    }
    
    .icon-toggle-nav-mobile{
        background-color: #eb1c23;
        color: #fff;
        box-shadow: 0px 4px 8px 1px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        width: 60px;
        height: 60px;
        padding: 10px;
    }

    .menu-icon {
        position: fixed;
        bottom: -13%;
        left: 2%;
        width: 97%;
        background-color: #fff;
        padding: 30px 20px 60px 20px;
        border-radius: 11px 11px 0px 0px;
        transition: all 0.5s  ease-in-out;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
        opacity: 0;
    }

    .menu-icon-list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 30px 20px;
        padding-left: 0;
        list-style: none;
    }
    
    .nav-link-bottom-nav-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #A4A4A4;
        font-size: 14px;
        text-decoration: none;
    }
    
    .nav-link-bottom-nav-mobile:focus , .nav-link-bottom-nav-mobile:hover {
        color: #eb1c23;
    }
    
    .container {
        max-width: 768px;
    }

    /* show menu */
    .show-menu-bottom-nav {
        bottom: 8%; 
        left: 1.7%;
        opacity: 1;
        /* animation: iconshow 0.5s ease-in-out; */
    }
    

    /* @keyframes iconshow {
        0%   {opacity: 0;}
        25%  {opacity: 0}
        35%  {opacity: 0}
        45%  {opacity: 0}
        55%  {opacity: 0}
        65%  {opacity: 0}
        75%  {opacity: 0}
        90%  {opacity: 0.4}
        91%  {opacity: 0.5}
        92%  {opacity: 0.6}
        93%  {opacity: 0.7}
        94%  {opacity: 0.8}
        95%  {opacity: 0.9}
        100% {opacity: 1;}
      } */

      .rotate{
        transition: all 0.5s ease-in-out;
      }
      
      .rotate.down{
        transform:rotate(45deg);
      }
      
}

@media screen and (max-width: 350px) { 
    .menu-icon {
        padding: 2rem .25rem 4rem;
    }

    .menu-icon-list {
        column-gap: 0;
    }
}
