@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

* .bottom-nav-mobile{
    font-family: 'Open Sans', sans-serif;
}

.bottom-nav-mobile{
    box-shadow: 0px 3px 38px rgba(0, 0, 0, 0.15);
    border-radius: 8px 8px 25px 25px;
    margin: 0px 5px 10px 5px;
    padding-bottom: 5px;
}

.nav-link-bottom-nav-mobile{
    color: #A4A4A4;
    font-size: 14px;
}

.nav-link-bottom-nav-mobile-plus svg{
    background-color: #eb1c23;
    color: #fff;
    box-shadow: 0px 4px 23px 1px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
}

.nav-link-bottom-nav-mobile:focus , .nav-link-bottom-nav-mobile:hover {
    color: #eb1c23;
}