@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

* .bottom-nav-mobile{
    font-family: 'Open Sans', sans-serif;
}

.bottom-nav-mobile{
    box-shadow: 0px 3px 38px rgba(0, 0, 0, 0.15);
    border-radius: 8px 8px 25px 25px;
    margin: 0px 5px 10px 5px;
    padding-bottom: 5px;
    z-index: 2;
    text-decoration: none;
}

.bottom-nav-mobile-menu{
    background-color: #eb1c23;
    color: #fff;
    box-shadow: 0px 4px 23px 1px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 10px;
    transition: all 0.5s ease-in-out;
}

.bottom-nav-mobile-menu:hover{
    transform: rotate(45deg);
}

.nav-link-bottom-nav-mobile:focus , .nav-link-bottom-nav-mobile:hover {
    color: #eb1c23;
}

.container {
    max-width: 768px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

@media screen and (max-width: 767px) {
    .menu-icon {
        position: fixed;
        bottom: -100%;
        left: 2%;
        width: 97%;
        background-color: #fff;
        padding: 2rem 1.5rem 4rem;
        border-radius: 11px 11px 0px 0px;
        transition: .3s;
        box-shadow: 0px -9px 20px rgba(0, 0, 0, 0.15);
    }
}

.menu-icon-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px 20px;
    padding-left: 0;
    z-index: -2;
    list-style: none;
}

.nav-link-bottom-nav-mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #A4A4A4;
    font-size: 14px;
    text-decoration: none;
}

/* show menu */
.show-menu {
    bottom: 5%;
}

@media screen and (max-width: 350px) { 
    .menu-icon {
        padding: 2rem .25rem 4rem;
    }

    .menu-icon-list {
        column-gap: 0;
    }
}
